body {
    margin: 0;
    background-color: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: green;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a:active {
    background-color: black;
    color: green;
}

ul.sidenav li a:hover:not(.active) {
    background-color: black;
    color: green;
}

@media screen and (max-width: 1050px){
    ul.sidenav {
        width:100%;
        height:auto;
        position:relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left:0;}
}

@media screen and (max-width: 400px){
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

.title {
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    color: white;
}

li {
    text-align: right;
    color: white;
}

ul {
    list-style: none;
}

.inputTitle {
    color: white;
    text-align: left;
    text-decoration: underline;
}

.outputTitle {
    color: white;
    text-align: left;
    text-decoration: underline;
}

.inputs {
    width: 400px;
    border: solid green 1px;
    margin: auto;
    padding: 20px;
}

.output {
    height: 110px;
    width: 400px;
    border: solid green 1px;
    margin: auto;
    padding: 20px;
}

.cash {
    color: green;
    text-align: center;
    font-size: 30px;
}

.bottomBar {
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    color: white;
    background-color: green;
}